.wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.circle {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.left {
  background-color: #e6e6e6;
}

.right {
  background-color: var(--color-primary);
}
