.wrapper {
  padding: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 97px;
}

.heading {
  font-size: 54px;
  font-weight: 600;
  line-height: 77px;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 31px;
}
