.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}

.slogan {
  width: 571px;
  height: 194px;
  font-size: 66px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

p:nth-child(1) {
  font-weight: 500;
}

p:nth-child(2) {
  font-weight: 700;
}

.content {
  width: 560px;
  height: 99px;
  font-size: 18px;
  line-height: 30px;
}
