:root {
  --color-primary: #e3b748;
  --color-black: #121212;
  --color-white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  background-color: var(--color-black);
  color: var(--color-white);
  overflow-x: hidden;
}
